<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Mortgage Calculator</title>
</head>

<body class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto ">
                <dic class="card card-body text-center mt-5" style="background-color: rgb(175, 197, 197);">
                    <h1 class="heading display-5 pb-3">Financial Calculator</h1>
                    <form action="" id="loan-form">
                        <div class="form-group m-3 ">
                            <div class="input-group">
                                <span class="input-group-text">Amount $</span>
                                <input type="number" class="form-control" id="amount" placeholder="Amount">
                            </div>
                        </div>

                        <div class="form-group m-3">
                            <div class="input-group">
                                <span class="input-group-text">Intrest %</span>
                                <input type="text" class="form-control" id="interest" placeholder="Interest">
                            </div>
                        </div>
                        <div class="form-group m-3">
                            <div class="input-group">
                                <span class="input-group-text">Years</span>
                                <input type="text" class="form-control" id="years" placeholder="Years to pay">
                            </div>
                        </div>
                        <div class="form-group m-3">
                            <div class="input-group">
                                <input type="button" value="Calculate" class=" form-control btn btn-success m-2">
                                <!-- <input type="button" value="reset" id="reset" class=" form-control btn btn-danger m-2"> -->
                                <button class="form-control btn btn-danger m-2" type="reset">Reset</button>


                            </div>
                        </div>
                        <!-- Result -->
                        <div>
                            <h5>Result</h5>
                            <div class="form-group m-3">
                                <div class="input-group">
                                    <span class="input-group-text">Monthly Payment</span>
                                    <input type="number" class="form-control" id="monthly-payment" disabled>
                                </div>
                            </div>
                            <div class="form-group m-3">
                                <div class="input-group">
                                    <span class="input-group-text">Total Amount</span>
                                    <input type="number" class="form-control" id="total-payment" disabled>

                                </div>
                            </div>
                            <div class="form-group m-3">
                                <div class="input-group">
                                    <span class="input-group-text">Total Interest</span>
                                    <input type="number" class="form-control" id="total-interest" disabled>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    </div>




    <script src="../scripts/main.js"></script>
</body>

</html>